* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.navbar {
    background-color: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ffcc00;
}


.header {
    text-align: center;
    padding: 40px 20px;
    background: #222;
    color: white;
}

.header p {
    margin-top: 10px;
    font-size: 1.1em;
}


.capa-section {
    padding: 40px 20px;
    text-align: center;
    flex: 1;
}

.capa-section h3 {
    margin-bottom: 20px;
    font-size: 1.6em;
}


.capa-grid {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


.capa {
    padding: 20px;
    background: #000;
    border-radius: 12px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6),
        inset 0 0 40px rgba(255, 255, 255, 0.06);
    max-width: 800px;
    margin: auto;
}


.capa iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 6px;
    display: block;
}


.capa p {
    margin-top: 12px;
    font-size: 1rem;
    color: #fff;
}


footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background: #fff;
    color: #000;
    padding: 25px;
    max-width: 500px;
    margin: 10% auto;
    border-radius: 10px;
    text-align: center;
}

#fechar {
    float: right;
    font-size: 28px;
    cursor: pointer;
}


/* --- Responsividade (trabalho anterior)--- 


@media (max-width: 1200px) {
    .capa {
        max-width: 320px;
    }

    .capa iframe {
        height: 190px;
    }
}


@media (max-width: 900px) {
    .capa-grid {
        flex-direction: column;
        align-items: center;
    }

    .capa {
        max-width: 90%;

    }

    .capa iframe {
        height: 220px;
    }
}


@media (max-width: 600px) {
    .header {
        padding: 30px 15px;
    }

    .header h2 {
        font-size: 1.5rem;
    }

    .header p {
        font-size: 1rem;
    }
} */